
.game {
  /*flex: 9;*/
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.game > div {
  width: 80%;
  margin: 0 20%;
}

.letters-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.letter {
  width: 8vh;
  height: 8vh;
  max-width: 100px;
  max-height: 100px;
  margin: 0.8vh;
  padding: 0;
  display: inline-flex;
  align-items: center;
  transition: background-color 1s;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.letter h2 {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vh;
  transition: color 1s;
}

.keyboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.keyLine {
  display: flex;
  justify-content: center;
}

.key, .key-restart {
  border: none;
  padding: 0.5vh 1vh 0.5vh 1vh;
  margin: 0.5vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  touch-action: manipulation;
  outline: 0;
  font-size: 1.65vh;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  height: 50px;
  width: 50px;
}
.key:hover, .key-restart:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.key:disabled, .key-restart:disabled {
  cursor: default;
  opacity: 0.25;
}

@media screen and (max-width: 600px) {
  .key {
    height: 25px;
    width: 25px;
    font-size: 0.6rem;
    padding: 0;
    margin: 4px;
  }
}

.key-restart {
  height: 70px;
  width: 100px;
}

.header {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}
