
.game {
  /*flex: 9;*/
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.game > div {
  width: 80%;
  margin: 0 20%;
}

.letters-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.letter {
  width: 8vh;
  height: 8vh;
  max-width: 100px;
  max-height: 100px;
  margin: 0.8vh;
  padding: 0;
  display: inline-flex;
  align-items: center;
  transition: background-color 1s;
  border: 1px red solid;

}

.letter h2 {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vh;
  transition: color 1s;
}

.keyboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.keyLine {
  display: flex;
  justify-content: center;
}

.key {
  border: none;
  border-radius: 0.5vh;
  padding: 0.5vh 1vh 0.5vh 1vh;
  margin: 0.5vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  /*width: 4vw;*/
  /*height: 4vh;*/
  font-weight: 600;
  touch-action: manipulation;
  outline: 0;
  font-size: 1.65vh;

}

.key:disabled {
  cursor: default;
  opacity: 0.25;
}
